<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <script src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
   <!--Nav Bar Open  -->
    <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand text_color" href="#">Brand</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav">
              <a class="nav-link active text_color" aria-current="page" href="#">Home</a>
              <a class="nav-link active text_color" href="#">Contact</a>
              <a class="nav-link active text_color" href="#">Dashboard</a>
              <a class="nav-link active text_color">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    <!--Nav Bar Close-->
      <div class="contact">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>
         <a href="" type="submit" class="btn btn-warning submit">Submit</a>

      </div>







</body>
</html>