<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  
</head>

<body>
  <!--Nav Bar Open-->
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <!-- <a class="navbar-brand text_color" href="#">Brand</a> -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav">
          <!-- <a class="nav-link active text_color" aria-current="page" href="#">Dashboard</a> -->
          <a class="nav-link active text_color" href="{% url 'contact'%}">Contact</a>
          <a class="nav-link active text_color" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="nav-link active text_color" href="{% url 'login'%}">Login</a>
        </div>
      </div>
    </div>
  </nav>
  <!--Nav Bar Close-->
  <h1 class="heading_title">ABOUT JUST REVIEW</h1>
  <p class="peragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolorum assumenda quisquam
    ratione ea, provident eos dicta odit quo consequuntur, hic optio ipsum. Rem cum eius impedit sit neque hic
    accusamus, accusantium a incidunt tempore, magnam repellat dignissimos sunt ipsa perspiciatis fugit quae ab eos!
    Minima, repellendus earum ab nihil doloribus dolore odio quis impedit</p>
  <h2 class="creaters">Created By <br>Team W5 </h2>


  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>