<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Just Review</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="jr-header">
		<div class="center-wr">
			<div class="clearfix inner-div-header">
				<ul>
					<li>
						<a href="#">
							Home
						</a>
					</li>
					<li>
						<a href="#">
							Contact Us
						</a>
					</li>
					<li>
						<a href="#">
							Dashboard
						</a>
					</li>
					<li>
						<a href="#">
							Logout
						</a>
					</li>
					<li class="search-container">
					  <form action="#">
					    <input type="text" placeholder="Search.." name="search">
					    <button type="submit"><i class="fa fa-search"></i></button>
					  </form>
					</li> <!-- End of Search Container -->
				</ul> 
			</div> <!-- End of Inner Div Header -->
		</div> <!-- End of Center-WR -->
	</div> <!-- End of Jr- Header -->
	<div class="product-category">
		<div class="center-wr">
			<div class="clearfix inner-div-product-category">

				<!-- Hello Team,
					Here we have to run loop for example for each loop.
					This loop will fetch product categories from the database. This fetched information will be shown in the below pc-product div.

					Please ensure this funtionality whomever it is assigned.
					 -->

				<div class="pc-product">
					<a href="#">
						<div class="pc-image">
							<img src="{% static 'images/cloth.jpg' %}" alt="Product Category Image">
						</div><!--  End of Pc-Image -->
						<div class="pc-name">
							<span>Cloth</span>
						</div> <!-- End of Pc- Name -->
					</a>					
				</div> <!-- End of PC Product -->

				<!-- Here, the above for each loop will end -->
				<!-- From here onwards I am writing some divs just for the sake of demo. But once you write loop for the code.Plz delete the below code. -->

				<!-- Deleting Div Started -->

				<div class="pc-product">
					<a href="#">
						<div class="pc-image">
							<img src="{% static 'images/shoes.jpg' %}" alt="Product Category Image">
						</div><!--  End of Pc-Image -->
						<div class="pc-name">
							<span>Shoes</span>
						</div> <!-- End of Pc- Name -->
					</a>					
				</div> <!-- End of PC Product -->

				<div class="pc-product">
					<a href="#">
						<div class="pc-image">
							<img src="{% static 'images/mobiles.jfif' %}" alt="Product Category Image">
						</div><!--  End of Pc-Image -->
						<div class="pc-name">
							<span>Mobiles</span>
						</div> <!-- End of Pc- Name -->
					</a>					
				</div> <!-- End of PC Product -->

				<div class="pc-product">
					<a href="#">
						<div class="pc-image">
							<img src="{% static 'images/television.jfif' %}" alt="Product Category Image">
						</div><!--  End of Pc-Image -->
						<div class="pc-name">
							<span>Television</span>
						</div> <!-- End of Pc- Name -->
					</a>					
				</div> <!-- End of PC Product -->

				<div class="pc-product">
					<a href="#">
						<div class="pc-image">
							<img src="{% static 'images/washing-machine.jpg' %}" alt="Product Category Image">
						</div><!--  End of Pc-Image -->
						<div class="pc-name">
							<span>Washing Machine</span>
						</div> <!-- End of Pc- Name -->
					</a>					
				</div> <!-- End of PC Product -->

				<div class="pc-product">
					<a href="#">
						<div class="pc-image">
							<img src="{% static 'images/perfume.jfif' %}" alt="Product Category Image">
						</div><!--  End of Pc-Image -->
						<div class="pc-name">
							<span>Perfume</span>
						</div> <!-- End of Pc- Name -->
					</a>					
				</div> <!-- End of PC Product -->

				<!-- Till here Divs will be deleted -->

			</div><!--  End of Inner Div Product Category -->
		</div>  <!-- End of Center-WR -->
	</div> <!-- End of Product Category -->
</body>
</html>
